body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 50px;
}

h1 {
  color: #2c3e50;
}

p {
  color: #555;
  font-size: 18px;
  body {
  background-color: lightblue;
}


  body {
    
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

}


body {
  color: white;
}


